<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
  {%- endif %}
      <div class="card hoverable">
        <div class="card-body">
          <h5 
            class="card-title">{{ project.title }}
            {%- if project.github -%}
            <a href="{{ project.github }}"><i class="fab fa-github gh-icon" style="float: right;padding-left: 0.5em;"></i></a>
            {%- endif %}
            {% if project.pdf %}
              <!-- <div class="icon ml-1" data-toggle="tooltip"> -->
                <a href="{{ project.pdf | prepend: 'assets/pdf/' | relative_url}}"><i class="fas fa-file-pdf" style="float: right;"></i></a>
              <!-- </div> -->
            {% endif %}
          </h5>
          <p class="card-text">{{ project.description }}</p>
          <p style="margin-bottom:1em;"></p>
          <div class="row ml-1 mr-1 p-0">
          </div>
        </div>
      </div>
    </a>
</div>